body{
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 51%, rgba(9,9,121,1) 100%, rgba(2,0,36,1) 100%);
}
.headline
{
  color: white !important;
}
.card
{
  min-width: 300px;
}
.list-element
{
  text-align: left;
}
.grey-text
{
  color: gray;
}
.btn{
  background-color: #3a8ceb;
  color: white;
  cursor: pointer;
}
.btn:hover{
  background-color: #3a8ceb;
  color: white;
}